/* Theme */
body {
    margin: 0;
    font-family: Helvetica;
}

:focus {
    outline: none;
}

/* Searchbar */
nav.searchbar {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
    height: 5vh;
    padding: 1vw;
}

nav.searchbar i {
    width: 3%;
    font-size: 2vw;
    color: #aaa;
}

nav.searchbar input {
    width: 97%;
    font-size: 2vw;
    color: #aaa;
    border: none;
}

nav.searchbar input::placeholder {
    color: #aaa;
}

/* Main Container */
div.container {
    display: flex;
    height: 90vh;
    width: 100vw;
}

/* File View */
div.exports {
    width: 25%;
    height: 100%;
    border-right: 1px solid #ccc;
    display: flex;
    flex-direction: column;
}

div.exports h5 {
    font-size: 1.5vw;
    color: #aaa;
    font-weight: lighter;
    text-align: center;
    margin: 0;
    padding: 5%;
    border-bottom: 1px solid #ccc;
}

div.exports div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
}

div.exports div:hover i.fa-trash-alt {
    display: block;
}

div.exports a {
    text-decoration: none;
    font-size: 2vw;
    padding: 5px;
    color: sandybrown;
    width: 90%;
}

div.exports a:hover {
    filter: brightness(90%);
}

div.exports i.fa-trash-alt {
    display: none;
    color: gray;
    margin-right: 3px;
    width: 10%;
    text-align: center;
}

div.exports i.fa-trash-alt:hover {
    color: crimson;
    cursor: pointer;
}

/* File Uploader */
div.manager {
    width: 75%;
}

/* File Dropoff */
div.dropoff {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5%;
    border: 1px dashed #ccc;
    width: 90%;
    height: 50%;
}

div.dropoff i {
    font-size: 15vw;
    color: #ccc;
}

div.dropoff p {
    font-size: 2vw;
    color: #ccc;
}

div.dropoff a {
    color: sandybrown;
    font-weight: bold;
}

div.dropoff a:hover {
    cursor: pointer;
    filter: brightness(90%);
}

div.uploads button {
    background: sandybrown;
    height: 3vw;
    width: 10vw;
    font-size: 1.5vw;
    color: white;
    border: none;
    margin-left: calc(95% - 10vw);
}

div.uploads button:hover {
    cursor: pointer;
    filter: brightness(90%);
}

div.files {
    overflow: scroll;
    height: 30vh;
}

div.file {
    font-size: 2vw;
    padding: 1vw;
    width: calc(90% - 2vw);
    margin-left: 5%;
    border: 1px solid lightgray;
    color: sandybrown;
}

i.fa-file {
    margin-right: 3%;
}

input[type="file"] {
    display: none;
}